.wrapper-discount-promotion{
    background: #141414;
    height: 100%;
    text-align: center;
    padding: 20px 65px;
    .discount-header{
        color: #fff;
    }
    .wrapper-image-promotion{
        height: 300px;
        width: 400px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}