.slick-slider .slick-dots {
  top: 50%;
  transform: translateY(-40%);
  right: 5%;
  bottom: 0;
  width: 687px;
  li {
    width: 204px;
    height: 120px;
    margin: 5px;
  }
}
.slick-slider::after{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to bottom,rgba(230,230,230,0) 11%,rgba(228,226,226,0) 12%,#121621 100%);
}

.wrapper-dots {
  width: 204px;
  height: 120px;
  cursor: pointer;
  img {
    max-width: 100%;
    height: auto;
  }
}
