.wrapper-foods {
    display: flex;
    justify-content: space-between;
    .foods {
        margin: 0px 20px;
        line-height: 25px;
        width: 253px;
        text-align: center;
        .name {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .description {
            font-size: 15px;
        }
        .note {
            color: #8d0da4;
            font-size: 17px;
        }
        .img-food{
            width: 175px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .wrapper-button {
            display: flex;
            justify-content: center;
            .add {
                padding: 15px;
                display: flex;
                width: 20px;
                height: 20px;
                align-items: center;
                justify-content: center;
                background-color: #09c4fd;
                cursor: pointer;
            }
            .sub {
                padding: 15px;
                display: flex;
                width: 20px;
                height: 20px;
                align-items: center;
                justify-content: center;
                background-color: #09c4fd;
                cursor: pointer;
            }
        }
        .price {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .amount {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
            line-height: 0;
            border-radius: 2px;
            margin: 0px 10px;
        }
    }
}
