.justify-content-center{
    justify-content: center!important;
};
.text-align-center{
    text-align: center!important;
}
.mt-8{
    margin-top: 8px;
}
.w-100 {
    width: 100%!important;
}
a{
    text-decoration: none!important;
}
ul{
    margin: 0!important;
    padding: 0!important;
}
li{
    list-style: none!important;
}
