@import "bootstrap_migrate/bootstrap.scss";
@import "bootstrap_migrate/bootstrap-grid.scss";
@import "custom_classes";
@import "variables.scss";

img {
    max-width: 100%;
    height: auto;
}

svg {
    vertical-align: baseline;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}
.ant-typography {
    color: inherit;
    display: flex;
    align-items: center;
    .ant-typography-copy {
        display: flex !important;
    }
}
.bg-base-color {
    background-color: $base-color;
}
.bg-facebook {
    background-color: $facebook-bg;
}
.text-color-base {
    color: $base-color;
}
.carousel-indicators {
    z-index: 8 !important;
}
.form-control-plaintext {
    pointer-events: none;
}
.site__body {
    background-color: $base-bg;
}
.btn_social_fb {
    background-color: $facebook-bg !important;
    border-color: $facebook-bg !important;
    // &:hover {
    //     background-color: darken($facebook-bg, 5%) !important;
    // }
}
