.wrapper-step-content{
    .wrapper-ticket {
        margin: 50px auto 0px;
        padding: 8px;
        width: 70%;
        border-radius: 10px;
        background: #141414;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        .wrapper-movie-being-booked {
            img {
                height: 200px;
                width: 150px;
                object-fit: cover;
            }
        }
        .bg-top-ticket {
            width: 100%;
            background: url("../../../../assets/images/bg-bottom-seatmap.png")
                repeat-x top left transparent;
            height: 8px;
            overflow: hidden;
        }
        .bg-bottom-ticket {
            width: 100%;
            background: url("../../../../assets/images/bg-bottom-seatmap.png")
                repeat-x bottom left transparent;
            height: 8px;
            overflow: hidden;
        }
    }
}
